# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor related
.vscode/

coverage.txt
profile.out

/tools/*
!/tools/*.mk

# Exclude example binaries
example/example
.idea/